<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Home</title>


<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">


</head>



<body>



<div class="home-container">



<div class="home-card">



<div class="home-icon">

<i class="fas fa-cloud"></i>

</div>




<h1>

Gallery Workspace

</h1>



<p>

Secure cloud media management platform

</p>




<div class="home-content">



<div class="home-item">


<i class="fas fa-image"></i>


<span>

Upload Images and Videos

</span>


</div>




<div class="home-item">


<i class="fas fa-folder"></i>


<span>

Organize your media folders

</span>


</div>





<div class="home-item">


<i class="fas fa-shield-halved"></i>


<span>

Private user storage

</span>


</div>



</div>





<a href="/"

class="btn-action btn-black">


<i class="fas fa-arrow-left"></i>

Return to Gallery


</a>




</div>



</div>




</body>


</html>