<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Gallery</title>


<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">


</head>


<body>



{% if 'user' not in session %}

<div class="auth-barrier">


<div class="auth-card">


<h2 id="auth-title">
Sign In
</h2>


<p class="subtitle">

Please authenticate to gain workspace dashboard access.

</p>



<div class="auth-error" id="auth-error-msg">

</div>



<div class="auth-group">

<label>
Username
</label>


<input 
type="text"
id="auth-username"
placeholder="Enter username">

</div>




<div class="auth-group">


<label>
Password
</label>


<input 
type="password"
id="auth-password"
placeholder="Enter password">


</div>




<button 
id="auth-submit-btn"
class="btn-action btn-black">

Sign In

</button>



<p>

<span id="auth-switch-text">

Don't have account?

</span>


<span 
class="auth-toggle-link"
id="auth-toggle-action">

Register here

</span>


</p>


</div>

</div>

{% endif %}






<nav class="navbar">


<a href="/" class="navbar-brand">

Responsive Gallery

</a>



<div class="navbar-menu">


<a href="/home" class="navbar-link">
Home
</a>


<a href="/contact" class="navbar-link">
Contact
</a>



{% if 'user' in session %}

<a href="/logout"
class="navbar-link logout">

Logout

</a>


{% endif %}


</div>


</nav>






<div class="app-workspace">



<main class="gallery-viewport">



<div 
class="folders-container"
id="folders-container">



<div class="loading-spinner">

Loading Gallery...

</div>



</div>


</main>






<aside class="sidebar-right">



<div class="sidebar-section">


<h3>

<i class="fas fa-folder-plus"></i>

Folder

</h3>



<input

type="text"

id="folder-name-input"

class="folder-input"

placeholder="Folder Name">


</div>





<div class="sidebar-section">


<h3>

<i class="fas fa-images"></i>

Upload

</h3>



<div class="upload-wrapper">


<input

type="file"

id="media-files-input"

multiple

accept="image/*,video/*"

title="Upload media files">


</div>


</div>





<div class="action-buttons-group">


<button

id="btn-insert-gallery"

class="btn-action btn-outline">

Insert

</button>




<button

id="btn-submit-gallery"

class="btn-action btn-black">

Create Folder

</button>


</div>



</aside>



</div>








<div class="modal-overlay"

id="gallery-modal">



<span

class="modal-close-trigger"

id="modal-close-btn">

&times;

</span>




<button

type="button"

class="modal-nav-arrow arrow-left"

id="prev-album-btn"

title="Previous album">

<i class="fas fa-chevron-left"></i>

</button>





<button
	type="button"
	class="modal-nav-arrow arrow-right"
	id="next-album-btn"
	title="Next album"
	aria-label="Next album">
	<i class="fas fa-chevron-right"></i>
</button>





<div class="modal-wrapper-box">



<div

class="modal-main-viewport"

id="modal-viewport">

</div>



<div

class="modal-caption-bar"

id="modal-caption">

Preview

</div>



</div>



</div>






<script src="{{ url_for('static', filename='js/script.js') }}"></script>



</body>

</html>